
// Main colors of project
$theme-colors: (
  "blue" : #197DD9,
  "blue2": #00BCEA,
  "primary": #051F37,
  "dividers": #242E50,
  "gray_secondary": #888C96,
  "gray" : #C2C2C2,
  "input_borders": #D7D7D7,
  "navigation_background": #062D4D,
  "borders": #E7E7E7,
  "bg": #F1F2F5,
  "bg2" : #EFF8FF,
  "white": white,
  "success": #19A627,
  "success_bg": #D8F4DB,
  "error": #D91919,
  "error_bg": #FED7D7
);

@font-face {
  font-family: 'Poppins';
  src: url('../assets/font/AvantGardeGothicC-Book.otf') format('truetype');
}

*{
  font-family: 'Poppins', sans-serif !important;
  box-sizing: border-box;
}

.v-tabs-bar.v-tabs-bar--is-mobile .v-tab {
  margin-top: 10px !important;
}

// body color
body{
  background-color: map-get($theme-colors, "blue");
}