.main{
    .container{
        height: 100%;
    }
    // auth header styling
    &_auth-header{
        &>div{
            margin: 0 auto;
        }
    }
    // set color white to footer of auth 
    &_footer{
        margin-top: auto;
        color: map-get($theme-colors, 'white');
    }
    // add gray color of slider tabs of auth
    .v-slide-group__content{
        &:after{
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: map-get($theme-colors, 'borders');
            bottom: 0
        }
    }
    // desktop block auth
    &_desktop-block{
        height: 100%;
        &>div{
            height: 100%;
        }
        &_leftSide{
            width: 35%;
            background-color: map-get($theme-colors, 'blue');
        }
        &_rightSide{
            width: 65%;
            &_content{
                width: 396px;
            }
        }
        // adaptive for tablet 
        @media screen and (max-width: 1090px) and (min-width: 768px) {
            &_leftSide{
                width: 50%;
            }
            &_rightSide{
                width: 50%;
                &_content{
                    width: 330px;
                }
            }
        }
    }
}

// margin tabs bar like in figma
// .auth .v-tabs-bar{
//     margin-top: 15px;
// }

.v-tabs-bar .v-tab {
    margin-top: 10px !important;
}

@media screen and (min-width: 768px) {
    .main{
        &_mobile-block{
            display: none;
        }
    }
}
