// Main colors of project
$main-font-size: 14px;
$secondary-font-size: 16px;
$main-line-height: 16px;
$secondary-line-height: 24px;
$main-font-weight: 400;
$main-font-family: 'Open Sans', 'Arial', sans-serif;
$main-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
$table-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);

$theme-colors: (
  "accent" : var(--color-accent),
  "accent_secondary": #00BCEA,
  "primary": #051F37,
  "dividers": #242E50,
  "gray_secondary": #888C96,
  "gray" : #C2C2C2,
  "input_borders": #D7D7D7,
  "navigation_background": #062D4D,
  "borders": #E7E7E7,
  "bg": #F1F2F5,
  "bg2" : #EFF8FF,
  "white": #FFFFFF,
  "success": #19A627,
  "success_bg": #D8F4DB,
  "error": #D91919,
  "error_bg": #FED7D7
);

$font-weights: (
  'thin': 100,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semi-bold': 600,
  'bold': 700,
  'black': 900
);

// ЗА ЧТО ОНА ОТВЕЧАЕТ
$material-light: (
  'background': map-get($theme-colors, 'accent')
);
